FileVersion = 1
Dependencies = {corlib = "*", Pile = "*"}

[Project]
Name = "Pile_SoLoud"

[Configs.Debug.Win64]
BuildCommandsOnCompile = "IfFilesChanged"
BuildCommandsOnRun = "IfFilesChanged"
LibPaths = ["$(ProjectDir)/dist/win64/soloud.lib"]
PreBuildCmds = ["CopyToDependents(\"$(ProjectDir)/dist/win64/soloud.dll\")"]

[Configs.Test.Win64]
BuildCommandsOnCompile = "IfFilesChanged"
BuildCommandsOnRun = "IfFilesChanged"
LibPaths = ["$(ProjectDir)/dist/win64/soloud.lib"]
PreBuildCmds = ["CopyToDependents(\"$(ProjectDir)/dist/win64/soloud.dll\")"]

[Configs.Paranoid.Win64]
LibPaths = ["$(ProjectDir)/dist/win64/soloud.lib"]
PreBuildCmds = ["CopyToDependents(\"$(ProjectDir)/dist/win64/soloud.dll\")"]

[Configs.Release.Win64]
LibPaths = ["$(ProjectDir)/dist/win64/soloud.lib"]
PreBuildCmds = ["CopyToDependents(\"$(ProjectDir)/dist/win64/soloud.dll\")"]

[Configs.Debug.Linux64]
LibPaths = ["$(ProjectDir)/dist/linux64/soloud.a"]

[Configs.Test.Linux64]
LibPaths = ["$(ProjectDir)/dist/linux64/soloud.a"]

[Configs.Paranoid.Linux64]
LibPaths = ["$(ProjectDir)/dist/linux64/soloud.a"]

[Configs.Release.Linux64]
LibPaths = ["$(ProjectDir)/dist/linux64/soloud.a"]
